.nav-tabs>li>a{
	color: gray !important;
    font-weight: 700 !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: white !important;
    font-weight: 700 !important;
    background-color: #62a8ea !important;
    border-color: transparent transparent #62a8ea  !important;
}
body{
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Open Sans,sans-serif;
    font-size: 14px;
    line-height: 1.57142857;
    color: #434343 !important;
    background-color: #fff;
}